*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

#title {
  display: none;
}
.title #title {
  display: block;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  z-index: 10;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-align: center;
}
.title #title h1 {
  top: 50%;
  left: 50%;
  position: fixed;
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: relative;
  padding: .25em;
}

#loading {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(28, 28, 28, 0.95);
  z-index: 5;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.loaded #loading {
  opacity: 0;
  z-index: -1;
  height: 0;
  width: 0;
  border-radius: 5em;
  left: 50%;
  top: 50%;
}

.loaded .container {
  z-index: 1;
}

.carousel-inner > .item {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  width: 100%;
}
.carousel-inner > .item img {
  display: block;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  margin: 0;
  padding: 0;
}

.custom-jumbotron {
  padding-top: 56.25%;
  width: 100%;
}
.custom-jumbotron {
  position: relative;
  height: 0;
}
.custom-jumbotron img {
  display: block;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  margin: 0;
  padding: 0;
}

.top-buffer {
  padding-top: 20px;
  clear: both;
}

#social {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  #social {
    position: absolute;
    right: 0;
    top: 10px;
    padding-bottom: 0;
  }
}

[id^="twitter-widget"] {
  margin-bottom: -5px;
}

[id^="___plusone"] {
  bottom: -5px;
  position: relative;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background: url('../images/dolladollabill.jpg?1397238155');
}
.jumbotron h1 {
  color: #d9534f !important;
  text-shadow: 1px 1px 1px #3c3c3c;
}
.jumbotron p {
  color: white !important;
  text-shadow: 1px 1px 1px #3c3c3c;
}

body {
  font-family: 'comic-neue', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

h1, h2, h3, h4, h5 h6 {
  font-family: "Comic Sans MS", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

@font-face {
  font-family: "comic-neue";
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/comic-neue/ComicNeue-Regular.eot?1391639656') format("embedded-opentype");
  src: url('../fonts/comic-neue/ComicNeue-Regular.eot?1391639656#iefix') format("embedded-opentype"), url('../fonts/comic-neue/ComicNeue-Regular.ttf?1391639656') format("truetype");
}
@font-face {
  font-family: "comic-neue";
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/comic-neue/ComicNeue-Regular-Oblique.eot?1396949622') format("embedded-opentype");
  src: url('../fonts/comic-neue/ComicNeue-Regular-Oblique.eot?1396949622#iefix') format("embedded-opentype"), url('../fonts/comic-neue/ComicNeue-Regular-Oblique.ttf?1396949622') format("truetype");
}
@font-face {
  font-family: "comic-neue";
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/comic-neue/ComicNeue-Bold.eot?1391639656') format("embedded-opentype");
  src: url('../fonts/comic-neue/ComicNeue-Bold.eot?1391639656#iefix') format("embedded-opentype"), url('../fonts/comic-neue/ComicNeue-Bold.ttf?1391639656') format("truetype");
}
@font-face {
  font-family: "comic-neue";
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/comic-neue/ComicNeue-Bold-Oblique.eot?1396950032') format("embedded-opentype");
  src: url('../fonts/comic-neue/ComicNeue-Bold-Oblique.eot?1396950032#iefix') format("embedded-opentype"), url('../fonts/comic-neue/ComicNeue-Bold-Oblique.ttf?1396950032') format("truetype");
}
#recipe-mega-menu .list-unstyled > li > strong {
  text-transform: uppercase;
}

#recipe-mega-menu footer p {
  margin-bottom: 0;
}

section .page-header:after {
  content: "";
  display: table;
  clear: both;
}
section .page-header h1 {
  float: left;
}
section .page-header #social {
  position: relative;
  float: right;
  padding-bottom: 20px;
}

.navbar, .jumbotron, .container {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.loaded .navbar, .loaded .jumbotron, .loaded .container {
  opacity: 1;
}
