//////////////////////////////
// 5 Outdated UX Patterns
//////////////////////////////

////////////////////////////
// Cross Browser Support
$graceful-usage-threshold: 100;
$critical-usage-threshold: 100;

$browser-minimum-versions: (
  "ie": "9",
  "android": "4",
  "chrome": "31",
  "safari": "5",
  "firefox": "25",
  "ios-safari": "6.0-6.1",
  "android-chrome": "0"
);
////////////////////////////

////////////////////////
// Compass Imports
@import "compass";
// @import "compass/reset";
////////////////////////

////////////////////////
// Compass Extensions
@import "toolkit";
@import "toolkit/kickstart";
@import "breakpoint";
@import "singularitygs";
@import "modular-scale";
@import "color-schemer";
////////////////////////

//////////////////////////////
// GLOBALS
@import "partials/global/variables";
@import "partials/global/functions";
@import "partials/global/mixins";
@import "partials/global/extends";
//////////////////////////////

//////////////////////////////
// COMPONENTS

//////////////////////////////

//////////////////////////////
// LAYOUTS

//////////////////////////////

#title {
  display: none;
  .title & {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    z-index: 10;
    color: white;
    @include transition(all 1s);
    text-align: center;

    h1 {
      @include absolute-center($fixed: true);
      position: relative;
      padding: .25em;
    }
  }
}

#loading {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(#1c1c1c, .95);
  z-index: 5;
  @include transition(all 1s);

  .loaded & {
    opacity: 0;
    z-index: -1;
    height: 0;
    width: 0;
    border-radius: 5em;
    left: 50%;
    top: 50%;
  }
}

.container {
  .loaded & {
    z-index: 1;
  }
}

.carousel-inner > .item {
  @include ir($elements: 'img')
}

.custom-jumbotron {
  @include ir(1280/720, $elements: 'img', $position: bottom);
}

.top-buffer {
  padding-top: 20px;
  clear: both;
}

#social {
  padding-bottom: 20px;
  @include breakpoint(768px) {
    position: absolute;
    right: 0;
    top: 10px;
    padding-bottom: 0;
  }

}

[id^="twitter-widget"] {
  margin-bottom: -5px;
}
[id^="___plusone"] {
  bottom: -5px;
  position: relative;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background: image-url('dolladollabill.jpg');

  h1 {
    color: #d9534f !important;
    text-shadow: 1px 1px 1px #3c3c3c;
  }

  p {
    color: white !important;
    text-shadow: 1px 1px 1px #3c3c3c;
  }
}

body {
  font-family: 'comic-neue', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

h1, h2, h3, h4, h5 h6 {
  font-family: "Comic Sans MS", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

@include font-face('comic-neue', (
  'eot': 'comic-neue/ComicNeue-Regular.eot',
  'ttf': 'comic-neue/ComicNeue-Regular.ttf',
  'wof': 'comic-neue/ComicNeue-Regular.wof'
), normal, normal, true);

@include font-face('comic-neue', (
  'eot': 'comic-neue/ComicNeue-Regular-Oblique.eot',
  'ttf': 'comic-neue/ComicNeue-Regular-Oblique.ttf',
  'wof': 'comic-neue/ComicNeue-Regular-Oblique.wof'
), normal, italic, true);

@include font-face('comic-neue', (
  'eot': 'comic-neue/ComicNeue-Bold.eot',
  'ttf': 'comic-neue/ComicNeue-Bold.ttf',
  'wof': 'comic-neue/ComicNeue-Bold.wof'
), bold, normal, true);

@include font-face('comic-neue', (
  'eot': 'comic-neue/ComicNeue-Bold-Oblique.eot',
  'ttf': 'comic-neue/ComicNeue-Bold-Oblique.ttf',
  'wof': 'comic-neue/ComicNeue-Bold-Oblique.wof'
), bold, italic, true);

#recipe-mega-menu .list-unstyled > li > strong {
  text-transform: uppercase;
}

#recipe-mega-menu footer p {
  margin-bottom: 0;
}

section .page-header {
  @include clearfix;

  h1 {
    float: left;
  }

  #social {
    position: relative;
    float: right;
    padding-bottom: 20px;
  }
}

.navbar, .jumbotron, .container {
  opacity: 0;
  @include transition(opacity 1s);

  .loaded & {
    opacity: 1;
  }
}

#title-footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
  opacity: .75;
}